h1 {
    color: red;
    border: 1px solid red;
    margin: 50px;
    text-align: center
}

body {
    background-color: black;
    color: white;
 }

img {
    max-width: 500px;
    height: 100px;
}

strong {
	font-size: 300%;
}

table {
	  border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}