h1 {
    color: red;
    border: 1px solid red;
    margin: 50px;
    text-align: center
}

body {
    background-color: black;
    color: white;
 }

img {
    max-width: 50px;
    height: 100px;
}

strong {
	font-size: 300%;
}

table {
	text-align: center
}